* {
padding: 0;
margin: 0;
 }

@font-face {
    font-family: 'peoplebook';
    src: url('../static/fonts/PEOPLE BOOK.otf');
}
@font-face{
    font-family: 'stromgust';
    src: url('../static/fonts/Storm Gust.otf');
}
@font-face{
    font-family: 'gameover';
    src: url('../static/fonts/Gameplay.ttf');
}
@font-face{
    font-family: 'kgb';
    src: url('../static/fonts/KGBlankSpaceSketch.ttf');
}

nav { 
    font-family: gameover;

    position: sticky;
    top: 10px;

    background-color: #1d2021af;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0rem 3rem 3rem 3rem;
    padding: 1rem;
}


body {
  font-family: "monospace" ;
  background-image: url("../static/endless-constellation.png");
}


a {
    color: #8839ef;
}

a:hover {
    color: #aaf;
    animation: glowing-text 1s infinite alternate;
    -webkit-animation: glowing-text 1s  infinite alternate;
    -moz-animation: glowing-text 1s infinite alternate;
}

.banner-container {
    font-family: 'peoplebook';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #1103190f;
}

.banner-container h1{
    font-size: 10rem;
}
.banner-container .designsummit{
    font-family: "kgb";
    font-size: 3rem;
    color: #fff; 
}
span.c{
    font-size: 10rem;
}

.banner-container img {
    height: 250px;
    width: 250px;
    position:relative;
    left: 50%;
    top: 28%;
}

h1 {
    color: #eabb3daa;
    font-size: 4rem;
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

main {
    font-family: 'gameover';
    color: #ccd0da;
    font-size: 2rem;
    margin: 2vw;
    padding: 2vw;
}

main p,li{
    margin-left: 4rem;
}

h2 {
    font-family: 'stromgust';
    color: #eabb3d;
    font-size: 3rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}


.glowing-text {
  font-size: 80px;
  color: #fff;
  -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
  -moz-animation: glowing-text 1s ease-in-out infinite alternate;
  animation: glowing-text 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing-text {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e00e6, 0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
}
  
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


div {
    height: 90vh;
}
