* {
    padding: 0;
    margin: 0;
  }
body {
  background-image: url("../static/endless-constellation.png");
}

.banner-container {
    display: flex;
    justify-content:center;
}

h1 {
    color: red;
}
