* {
padding: 0;
margin: 0;
 }
:root {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'peoplebook';
    src: url('../static/fonts/PEOPLE BOOK.otf');
}
@font-face{
    font-family: 'stromgust';
    src: url('../static/fonts/Storm Gust.otf');
}
@font-face{
    font-family: 'gameover';
    src: url('../static/fonts/Gameplay.ttf');
}
@font-face{
    font-family: 'kgb';
    src: url('../static/fonts/KGBlankSpaceSketch.ttf');
}

nav { 
    font-family: gameover;

    position: sticky;
    top: 10px;

    background-color: #1d2021af;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0rem 3rem 3rem 3rem;
    padding: 1rem;
}


body {
  font-family: "monospace" ;
  background-image: url("../static/endless-constellation.png");
  background-attachment: fixed;
}

a {
    color: #8839ef;
}

a:hover {
  color: #faf;
  transform: scale(1.25, 1.5);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  animation: glowing-text 1s ease-in-out infinite alternate;
  -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
  -moz-animation: glowing-text 1s ease-in-out infinite alternate;
}

.banner-container {
    font-family: 'peoplebook';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-content: center;
    background-color: #1103190f;
}

.banner-container img {
    height: 410px;
    width: 410px;
}


.banner-container h1{
    font-size: 10rem;
}
span.c{
    font-size: 10rem;
}



h1 {
    color: #ffafaf;
    font-size: 4rem;
}

main {
    font-family: 'gameover';
    color: #ccd0da;
    font-size: 2rem;
    margin: 2vw;
    padding: 2vw;
}

main p,li{
    margin-left: 4rem;
}

h2 {
    font-family: 'stromgust';
    color: #eabb3d;
    font-size: 3rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}


.glowing-text {
  font-size: 80px;
  color: #fff;
  animation: glowing-text 1s ease-in-out infinite alternate;
  -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
  -moz-animation: glowing-text 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing-text {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e00e6, 0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
}
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.page {
    height: 100vh;
}
